body {
  text-align: center;
  background-color: black;
  /* #011F3F; */
}
h2 {
  font-size: 5rem;
  color: #DA0463;
  font-family: "Arvo", cursive;
  font-family: 'Charmonman', cursive;
  text-shadow: 5px 0 #DBEDF3;

}

#level-title {
  /* font-family: 'Press Start 2P', cursive; */
  font-family: 'Charmonman', cursive;
  font-size: 3rem;
  margin:  1%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 35%;
  margin: auto;

}

.btn {
  margin: 15px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid white;
  border-radius: 50%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
